.TodoApp {
    &_createTodoBtn {
        width: 100%;
        & a {
            text-align: center;
            display: flex;
            justify-content: center;
            color: black;
            width: 100%;
            text-decoration: none;
            background: white;
            padding: 10px 0 10px 0;
            transition: 0.4s;
            border: 2px solid black;
            background: white;
            &:hover {
                color: white;
                background: black;
            }
        }
    }
    &_body{
        margin-top: 20px;
    }
}