.TodoGroupsBar {
    display: flex;
    width: 100%;

    &_nav {
        display: flex;
        width: 100%;

        & .nav_link {
            display: flex;
            align-items: center;
            border: 2px solid black;
            text-decoration: none;
            color: black;
            background: white;
            transition: 0.3s;
            width: 100%;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: black;
                width: 100%;
                text-align: center;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    &_form {
        display: flex;
    }

    &_createNewTodoGroupButton {
        border: 2px solid black;
        padding: 10px;
        color: black;
        background: white;

        &:hover {
            background-color: black;
            color: white;
        }
    }

    &_deleteTodoGroupBtn {
        width: 150px;
        height: 100%;
        border: 2px solid black;
        background: white;
        transition: 0.3s;
        color: black;

        &:hover {
            background: red;
            color: white;
        }
    }
}